<meta charset="utf-8" />
<title>MASHAER </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="MASHAER By TechTime" name="description" />
<meta content="TechTime" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/Perfume_assets/images/iconNew.png">