<meta charset="utf-8" />
<title>@ViewBag.title | MASHAER - Admin Dashboard </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="MASHAER Admin & Dashboard" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/Perfume_assets/images/icon/newlogo.png">