@page
@model CRM.Areas.Admin.Pages.Configurations.ManageReport.FinancialReportModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/css/slim.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
            </div><!-- slim-pageheader -->




            <div class="row">
                <div class=" col-lg-4 card pd-20 ">
                    
                    <div class="post-group">

                        <label class="slim-card-title">@sharedResource["Filter"]</label>
                        <div class="post-group">

                            @using (Html.BeginForm(FormMethod.Post))


                                @(Html.DevExtreme().Form<CRM.ViewModels.FinancialFilterVm>()
                                    .FormData(Model.financialFilterVm)
                                    .LabelMode(FormLabelMode.Outside)
                                    .LabelLocation(FormLabelLocation.Top)
                                    .Items(items =>
                                    {
                                        items.AddSimpleFor(m => m.From).IsRequired(false).Label(l => l.Text(sharedResource["From Date"]));
                                        items.AddSimpleFor(m => m.To).IsRequired(false).Label(l => l.Text(sharedResource["To Date"]));
                                        items.AddSimpleFor(m => m.OrderSerial).Label(l => l.Text(sharedResource["Order Serial"]));
                                        items.AddSimpleFor(m => m.CustomerName).Label(l => l.Text(sharedResource["Customer Name"]));
                                        items.AddSimpleFor(m => m.CustomerTele).Label(l => l.Text(sharedResource["Customer Phone"]));

                                        items.AddButton()
                                        .HorizontalAlignment(HorizontalAlignment.Left)
                                        .ButtonOptions(b => b.Text(sharedResource["Send"])
                                        .Type(ButtonType.Success)
                                        .UseSubmitBehavior(true)
                                        );
                                    })
                                    )








                        </div><!-- post-group -->
                    </div><!-- card -->
                </div>
                <div class="col-lg-8">

                    <div class="card">
                        <div class="timeline-group">
                            @using CRM.Reports

                            <link rel="stylesheet" href="~/css/viewer.part.bundle.css" />

                            <script src="~/js/viewer.part.bundle.js"></script>

                            @Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("500px").Bind(Model.Report)
                        </div><!-- timeline-group -->
                    </div><!-- card -->

                </div><!-- col-9 -->
                <!-- col-3 -->
            </div><!-- row -->
            <!-- container -->
        </div>
    </div>

</body>
</html>
