@page
@model CRM.Areas.Admin.Pages.Configurations.ManageReport.teestModel
@{
}


<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/css/slim.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
            </div><!-- slim-pageheader -->

                <div>
                    <div class="card">
                        <div class="timeline-group">
                            @using CRM.Reports

                            <link rel="stylesheet" href="~/css/viewer.part.bundle.css" />

                            <script src="~/js/viewer.part.bundle.js"></script>

                            @Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("500px").Bind(Model.Report)
                        </div><!-- timeline-group -->
                    </div><!-- card -->

                </div><!-- col-9 -->
              
          
            <!-- container -->
        </div>
    </div>

</body>
</html>