@page
@model CRM.Areas.Admin.Pages.Configurations.ManageStoredOrder.ShippingLabelModel
@{
    ViewBag.Title = "Invoice Details";
    ViewBag.pTitle = "Invoice Details";
    ViewBag.pageTitle = "Invoices";
    Layout = "~/Pages/Shared/_Layout3.cshtml";
}
<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card" id="demo">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-header border-bottom-dashed p-4">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <img src="~/assets/Perfume_assets/images/icon/newlogo.png" class="card-logo card-logo-dark" alt="logo dark" height="60">
                                <img src="~/assets/Perfume_assets/images/icon/newlogo.png" class="card-logo card-logo-light" alt="logo light" height="60">
                               
                            </div>
                           
                        </div>
                    </div>
                    <!--end card-header-->
                </div><!--end col-->
            
                <div class="col-lg-12">
                    <div class="card-body p-4">
                         <div class="mt-3">
                            <h6 class="text-muted text-uppercase fw-semibold mb-3">@sharedResource["Shipping Label:"]</h6>
                            <embed src="~/@Model.order.ShippingLabel" style="width:100%" id="shipping_labels" />

                        </div>
                        

                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i class="ri-printer-line align-bottom me-1"></i>@sharedResource["Print"]  </a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div><!--end col-->
            </div><!--end row-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
