@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="get-area two">
    <div class="container">
        <div class="get-content">
            <div class="get-shape">
                <img src="~/Jeel/images/get-shape1.png" alt="Shape">
                <img src="~/Jeel/images/get-shape2.png" alt="Shape">
            </div>
            <div class="section-title">
                <h2>It Needs Professional Hands To Get Rid Of Your Daily Stress Off</h2>
            </div>
            <a class="common-btn two" href="appointment.html">Make An Appointment</a>
        </div>
    </div>
</section>
