@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="know-area pt-100 pb-70">
    <div class="know-shape">
        <img src="~/Jeel/images/know/know-shape3.png" alt="Shape">
        <img src="~/Jeel/images/know/know-shape4.png" alt="Shape">
        <img src="~/Jeel/images/know/know-shape2.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="know-img">
                    <img src="~/Jeel/images/know/know-bg1.jpg" alt="Know">
                    <img src="~/Jeel/images/know/know-shape1.png" alt="Shape">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="know-content">
                    <div class="section-title">
                        <h2>@sharedResource["Know More About Us"]</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quas adipisci earum? Aspernatur accusantium sit perferendis! Aperiam cum ipsum nostrum iure autem porro quia, neque quis dicta maxime</p>
                    </div>
                    <ul>
                        <li>
                            <img src="~/Jeel/images/know/know-icon1.png" alt="Know">
                            <h3>Award-winning Company</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                        </li>
                        <li>
                            <img src="~/Jeel/images/know/know-icon2.png" alt="Know">
                            <h3>15+ Years Of Experience</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                        </li>
                        <li>
                            <img src="~/Jeel/images/know/know-icon3.png" alt="Know">
                            <h3>Top Beauty Provider</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                        </li>
                    </ul>
                    <a class="common-btn two" href="about.html">About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>