@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="skin-area two pt-100 pb-70">
    <div class="skin-shape">
        <img src="~/Jeel/images/skin-shape2.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="skin-content">
                    <div class="section-title">
                        <h2>Our New Skin Care Products For You</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here</p>
                    </div>
                    <a class="common-btn two" href="shop.html">@sharedResource["Shop Now"]</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skin-img">
                    <img src="~/Jeel/images/skin-main.jpg" alt="Skin">
                    <img src="~/Jeel/images/skin-shape1.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</section>