@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <section class="team-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Meet Our Top Specialist</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quas adipisci earum? Aspernatur accusantium sit perferendis! Aperiam cum ipsum nostrum</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="team-item">
                        <div class="top">
                            <img src="~/Jeel/images/team/team1.jpg" alt="Team">
                            <img src="~/Jeel/images/team/team-bg.png" alt="Shape">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <h3>Angela Hopper</h3>
                            <span>Chief Beautician</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="team-item">
                        <div class="top">
                            <img src="~/Jeel/images/team/team2.jpg" alt="Team">
                            <img src="~/Jeel/images/team/team-bg.png" alt="Shape">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <h3>Tullp Anda</h3>
                            <span>Stone Therapist</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                    <div class="team-item">
                        <div class="top">
                            <img src="~/Jeel/images/team/team3.jpg" alt="Team">
                            <img src="~/Jeel/images/team/team-bg.png" alt="Shape">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <h3>Anna Bradly</h3>
                            <span>Spa Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="common-btn two" href="team.html">View All Members</a>
            </div>
        </div>
    </section>