@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="video-area two">
        <div class="video-shape">
            <img src="~/Jeel/images/video-shape1.png" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid p-0">
                    <div class="video-item">
                        <div class="video-wrap">
                        <button class="js-modal-btn" data-video-id="OZYgGUvUf0E">
                                <i class='bx bx-play'></i>
                            </button>
                        </div>
                    <h3>@sharedResource["Perfume puts the last touch to elegance."]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>