@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="product-box">
    <div class="img-wrapper">
        <div class="front">
            <a href="./ProductDetails">
                <img src="~/assets/Perfume_assets/images/pro3/27.jpg"
                     class="img-fluid blur-up lazyload bg-img" alt="">
            </a>
        </div>
        <div class="back">
            <a href="./ProductDetails">
                <img src="~/assets/Perfume_assets/images/pro3/28.jpg"
                     class="img-fluid blur-up lazyload bg-img" alt="">
            </a>
        </div>
        <div class="cart-info cart-wrap">
            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                    title="Add to cart">
                <i class="ti-shopping-cart"></i>
            </button> 
            <a href="javascript:void(0)" title="Add to Wishlist">
                <i class="ti-heart" aria-hidden="true"></i>
            </a>
            <a href="#"
                    data-bs-toggle="modal" data-bs-target="#quick-view"
                    title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="product-detail">
        <a href="./ProductDetails">
            <h6>purple solid polo tshirt</h6>
        </a>
        <h4>$50.00</h4>
    </div>
</div>